body {
  font-family: 'Roboto', sans-serif;
  padding: 2rem;
  margin: 0;
  background-color: #f4f4f4;
  text-align: center;
}

main {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 2rem;
}

img {
  display: block;
  width: 400px;
  height: auto;
  margin: 2rem auto;
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards;
  background-color: #000;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

footer {
  margin-top: 3rem;
  font-size: 0.9rem;
  color: #333;
}
