:root {
    --primary-color: #fcd116; /* Ghana flag yellow */
    --secondary-color: #006b3f; /* Ghana green */
    --accent-color: #ce1126; /* Ghana red */
    --font-color: #333;
  }
  
  /* Define font families as CSS variables for easy maintenance */
:root {
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Merriweather', serif;
  }
  
  /* Font family utilities */
  .font-montserrat {
    font-family: var(--font-primary);
    font-optical-sizing: auto;
    font-style: normal; /* default normal */
  }
  
  .font-merriweather {
    font-family: var(--font-secondary);
    font-optical-sizing: auto;
    font-style: normal; /* default normal */
  }
  
  /* Font weight utilities */
  .font-weight-100 { font-weight: 100; }
  .font-weight-300 { font-weight: 300; }
  .font-weight-400 { font-weight: 400; } /* Normal weight */
  .font-weight-700 { font-weight: 700; } /* Bold */
  .font-weight-900 { font-weight: 900; }
  
  /* Font style utilities */
  .font-italic {
    font-style: italic;
  }
  

  body {
    margin: 0;
    background: white;
    color: var(--font-color);
  }
  
  header {
    background: var(--secondary-color);
    color: white;
    padding: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
  }
  
  .hero {
    position: relative; /* Important for absolute positioning children */
  }
  
  .hero img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .info, .weather {
    background: white;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    text-align: center;
    
  }
  
  .info h2, .weather h2 {
    text-align: center;
    margin-bottom: 0.5rem;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 0.5rem 0;
  }
  
  .weather-icon-mobile {
    width: 80px !important;
    height: 80px !important;
    object-fit: contain;
    display: block;
    margin: 1rem auto 0;
  }
  
  footer {
    background: var(--accent-color);
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
  }